<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Welcome</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br>
    <p>
      This is RobotSocial. A fake social media site designed by me, Sophia.
      It's made to showcase my skills as a developer in arenas like frontend,
      backend, and devops. There's a wide variety of tools and libraries, in 
      addition to some homegrown code I wrote myself used here so please check
      this stuff out and enjoy your stay!
    </p>
    <br>
    <mat-divider></mat-divider>
  </mat-card-content>
  <h2>Login</h2>
  <form>
    <div class="login-fields" [formGroup]="loginData">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Your Username"
          [formControl]="usernameControl">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
        matInput
        [type]="hidePass ? 'password' : 'text'"
        placeholder="Your Password"
        [formControl]="passwordControl">
        <button mat-icon-button matSuffix (click)="toggleHidePass()" type="button">
          <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <p>
      Don't have an account? <a routerLink="/sign-up">Sign up</a>
    </p>
    <mat-card-actions>
      <button
      mat-stroked-button
      color="accent"
      (click)="handleLoginSubmit()"
      type="submit">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>