mat-card {
  margin: calc(5% + 10vh) auto;
  width: 80%;
  max-width: 1024px;
  p {
    text-align: center;
    margin: 0;
  }
}

mat-card-content p {
  width: 80%;
  margin: auto;
}

h2 {
  margin-left: 32px;
}

.login-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-form-field {
  width: 30%;
  min-width: 256px;
  margin: auto 16px;
}

mat-card-actions {
  margin: 16px;
  p {
    text-align: center;
  }
}
