<div class="rspui-nav-list-container">
  <mat-nav-list>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="/profile">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <div matListItemTitle>Profile</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="/">
      <mat-icon matListItemIcon>list_alt</mat-icon>
      <div matListItemTitle>News Feed</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="/search">
      <mat-icon matListItemIcon>search</mat-icon>
      <div matListItemTitle>Search</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="/friends">
      <mat-icon
        matListItemIcon
        [matBadge]="user?.requestsReceived?.length"
        [matBadgeHidden]="user?.requestsReceived?.length === 0"
        matBadgeColor="accent">
        group
      </mat-icon>
      <div matListItemTitle>Friends</div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
