<div class="rspui-header-container">
  <img
    src="../../assets/images/unselected-profile.png"
    alt="unselected-profile" />
  <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>
</div>
<mat-card class="rspui-profile-data">
  <mat-card-content>
    <h2>Email</h2>
    <h3>{{ user?.email }}</h3>
    <h2>Username</h2>
    <h3>
      {{ user?.username }}
      <button
        mat-raised-button
        color="primary"
        (click)="openEditDialog()">
        Edit
      </button>
    </h3>
  </mat-card-content>
</mat-card>

<h1 class="rspui-post-header">Your Posts:</h1>

<mat-card
  *ngFor="let post of posts"
  class="rspui-post-item">
  <mat-card-header>
    <mat-card-subtitle class="rspui-time-posted">Posted {{ getPostTimeText(post.timePosted) }}</mat-card-subtitle>
  </mat-card-header>
  <br />
  <mat-card-content class="rspui-post-content">
    <p>{{ post.content }}</p>
  </mat-card-content>
</mat-card>
