@import '@angular/material/theming';

@include mat-core();

$rspui-primary: mat-palette($mat-purple);
$rspui-accent: mat-palette($mat-green, A200, A400, A700);
$rspui-warn: mat-palette($mat-red);

$rspui-theme: mat-dark-theme((
  color: (
    primary: $rspui-primary,
    accent: $rspui-accent,
  ),
  typography: define-typography-config(),
  density: 0,
));

@include angular-material-theme($rspui-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
  color: #69f0ae;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#rspui-root-loading {
  z-index: 2500;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: #303030;
  img {
    align-self: center;
    margin: auto;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: rgb(41, 94, 41) !important;
  }
  .mdc-snackbar__label {
    color: white !important;
  }
}

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: rgb(110, 0, 0) !important;
    color: white;
  }
  .mdc-snackbar__label {
    color: white !important;
  }
}

.snackbar-warn {
  .mdc-snackbar__surface {
    background-color: rgb(127, 83, 0) !important;
    color: white;
  }
  .mdc-snackbar__label {
    color: white !important;
  }
}
